<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>how to prove it...</title>
</head>
<body>
<script src="js/my.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<div class="container">
    <div class="jumbotron">
        <h2>It is just a simple demo</h2>
        <p>good morning! I just want to prove I have strong practical ability...</p>
    </div>

    <div class="container col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-info" xmlns:th="http://www.thymeleaf.org">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-size:25px;">My friends and me</h3>
            </div>
            <p class="panel-body">

                <img src="img/myphoto.jpg" class="img-responsive" alt="Cinque Terre" width="720" height="540">

                <p style="font-family:arial,serif;font-size:22px;text-indent:2em;">
                    This photo was taken this summer in Si Pailou campus of Southeast University.The left one is me and the others are my friends.
                </p>
                <p style="font-family:arial,serif;font-size:22px;text-indent:2em;">
                    They are my senior middle school classmates and also my friends.
                    The middle man is now studying physics at Tsinghua University.
                    The person on the right studies civil engineering at Tongji University.
                    The left person is me, now learning computer science at Southeast University.
                </p>
                <p style="font-family:arial,serif;font-size:22px;text-indent:2em;">
                    They are better students than me.I am very happy to have such friends.
                </p>
            </div>
    </div>
</div>
</body>
</html>
